.container {
  height: 500px;
  width: 400px;
  overflow: hidden;
}

.img {
  height: 500px;
  width: auto;
  margin-left: -75px;
  filter: drop-shadow(20px 10px 25px rgba(0, 0, 0, 0.2));
}

@media (min-width: 325px) and (max-width: 767px) {
  .container {
    height: 500px;
    width: 300px;
    overflow: hidden;
    order: 1;
    margin: 0 auto;
  }

  .img {
    height: 500px;
    width: auto;
    margin-left: -130px;
    filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.2));
  }
}
