.container {
  height: 500px;
  width: 400px;
  overflow: hidden;
}

.img {
  height: 500px;
  width: auto;
  margin-left: -75px;
}

@media (min-width: 325px) and (max-width: 767px) {
  .container {
    height: 500px;
    width: 300px;
    overflow: hidden;
    order: 1;
    margin: 0 auto;
  }

  .img {
    height: 500px;
    width: auto;
    margin-left: -130px;
  }
}
