.appInfo {
  max-width: 600px;
  flex: 1;
  margin-left: 30px;
}

.appInfo > h2 {
  font-size: 40px;
  font-weight: 700;
  color: #252b42;
  margin: 0;
  letter-spacing: 0.2px;
}

.appInfo > p {
  color: #737373;
}

.appInfo > p > strong {
  color: #fa4a0c;
}

@media (min-width: 325px) and (max-width: 767px) {
  .appInfo {
    max-width: 600px;
    flex: 1;
    order: 0;
    text-align: center;
    margin: 0;
  }

  .appInfo > h2 {
    font-size: 40px;
    font-weight: 700;
    color: #252b42;
    margin: 0;
    letter-spacing: 0.2px;
  }

  .appInfo > div > p {
    color: #737373;
    max-width: 90%;
    margin: 5%;
  }

  .appInfo > div {
    margin: 0 auto;
  }

  .appInfo > p > strong {
    color: #fa4a0c;
  }
}
