@media (min-width: 325px) and (max-width: 767px) {
  .ham {
    height: 16px;
    width: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .hamburger {
    background-color: #737373;
    min-width: 20px;
    min-width: 20px;
    height: 3px;
    border-radius: 3px;
  }
}
