.hero {
  width: 100%;
  height: 560px;
  background-image: linear-gradient(0deg, rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)),
    url("/Hero-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: black;
  padding-top: 40px;
}

.contentContainer {
  width: 100%;
}

.textContent {
  text-align: center;
  color: white;
  max-width: 1000px;
  margin: 0 auto;
}

.buttonContainer {
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 25px 50px;
}

.textContent > h1 {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 58px;
  font-weight: 700;
  line-height: 80px;
}

.textContent > p {
  color: #f6f6f6;
}
