.hero {
  width: 95%;
  height: 560px;
  background-image: linear-gradient(0deg, rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)),
    url("/Hero-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: black;
  padding-top: 40px;
  padding-left: 2.5%;
  padding-right: 2.5%;
  margin-top: 152px;
}

.contentContainer {
  width: 100%;
}

.textContent {
  text-align: center;
  color: white;
  max-width: 1000px;
  margin: 0 auto;
}

.buttonContainer {
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 50px;
}

.textContent > h1 {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 58px;
  font-weight: 700;
  line-height: 80px;
}

.textContent > p {
  color: #f6f6f6;
}

@media (min-width: 325px) and (max-width: 767px) {
  .hero {
    width: 95%;
    height: 700px;
    background-image: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #fafafa;
    padding-top: 40px;
    margin-top: 81.7px;
  }

  .contentContainer {
    width: 100%;
  }

  .textContent {
    text-align: center;
    color: #252b42;
    max-width: 98%;
    margin: 0 auto;
  }

  .buttonContainer {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 25px 50px;
  }

  .textContent > h1 {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 34px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.2px;
  }

  .textContent > p {
    color: #737373;
  }

  .textContent > .downloadInfo {
    font-size: 24px;
  }
}
