.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 150px;
}

.footer > div {
  font-size: 12px;
}

@media (min-width: 325px) and (max-width: 767px) {
  .footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 30px 16px;
  }

  .footer > div {
    font-size: 12px;
  }
}
