.footer {
  padding: 30px 100px;
}

.footer > div {
  font-size: 12px;
}

@media (min-width: 325px) and (max-width: 767px) {
  .footer {
    padding: 0;
  }

  .footer > div {
    font-size: 12px;
  }
}
